name: Build Sneaker GCI

on:
    pull_request:
    workflow_dispatch:

jobs:
    Build-Sneaker-GCI:
        runs-on: self-hosted
        env:
            ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-go@v5
              with:
                go-version: 'stable'
            - uses: actions/setup-node@v5
              with:
                node-version: 18
                cache: 'npm'     
            - run: ./build.sh
            - uses: actions/upload-artifact@v4
              with:
                name: builds
                path: build/
